* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.con1 {
    width: 50%;
    height: 100%;
    background-color: red;
}
.con2 {
    width: 50%;
    height: 100%;
    background-color: blue;
} */